<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29861490019-ce5jr2jrdhooolpcvtm546km120tp3g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29861490019-ce5jr2jrdhooolpcvtm546km120tp3g5</string>
	<key>API_KEY</key>
	<string>AIzaSyDwE7D0kHmgJUN8AUc4r3F81knUyFGkNr8</string>
	<key>GCM_SENDER_ID</key>
	<string>29861490019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.locks</string>
	<key>PROJECT_ID</key>
	<string>lockservice-db034</string>
	<key>STORAGE_BUCKET</key>
	<string>lockservice-db034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29861490019:ios:6049810ab87d5b172db756</string>
	<key>DATABASE_URL</key>
	<string>https://lockservice-db034.firebaseio.com</string>
</dict>
</plist>